body{
    width: 100%;
    background-color: #ff6666;
}

#logo{
    width: 150px;
    height: 80px;
    margin-right: 45%;
    border-radius: 25px;
    margin-left: 70px ;
}

header, nav{
    display: flex;
    align-items: center;
    margin-bottom: 50px;

}
nav li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 20px; 
    }

h1, p{
    text-align: left;    
    font-weight: bold;
    width: 65%;
    margin-left: 100px ;
}

main p {
    font-size: 15px;
}

#banner{
    width: 300px;    
}

main{
    margin-bottom: 300px;
}

div table{
   margin: auto;
}

div .row{
   padding: 75px;
}

.imgmodal{
    width: 300px;
    height:400px;
}



